<!-- Desktop website code start   -->
<div class="footer-white" *ngIf="changecolor">
<div class="flex-container-footer-desktop">
    <div class="flex-items-left-footer">
  
    <div style="flex-direction: column;">  
      <div style="flex-direction: row;" >
        <div class="head-elements-footer">
        <h4>About Us</h4>
        <p>Collection</p>
        <p>Collaborations</p>
        </div>
  
        <div class="head-elements-footer"><h4>Corporate</h4>
        <p>Private Policy</p>
        <p>T & C</p>
        </div>
      
        <div class="head-elements-footer"><h4>Export </h4>
          <p>Packing List
          </p>
          <p>Process </p>
          </div>
        
       <div class="head-elements-footer"><h4>Contact Details </h4>
            <p>Inquiry 
            </p>
            <p>Email </p>
            <p>Number  </p>
        </div>  
  
    </div>
  
  <div class="social-icons-footer" style="flex-direction: row;margin-top: 20px;">
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-linkedin"></i></div>
  
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-pinterest"></i></div>
  
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-instagram"></i>
    </div>
  
    
  
  </div>
  
  </div>
  
  </div>
  
  <div class="flex-item-right-footer">
    <img [src]="'assets/images/logoblack.png'">
    <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>
  
  </div>
  
  
  </div>
</div>
  <!-- Desktop website code end-->  
  

  <!-- Desktop website code start-->  
  <div class="footer-black" *ngIf="!changecolor && footershow">
<div class="flex-container-footer-desktop">
  <div class="flex-items-left-footer">

  <div style="flex-direction: column;">  
    <div style="flex-direction: row;" >
      <div class="head-elements-footer">
      <h4>About Us</h4>
      <p>Collection</p>
      <p>Collaborations</p>
      </div>

      <div class="head-elements-footer"><h4>Corporate</h4>
      <p>Private Policy</p>
      <p>T & C</p>
      </div>
    
      <div class="head-elements-footer"><h4>Export </h4>
        <p>Packing List
        </p>
        <p>Process </p>
        </div>
      
     <div class="head-elements-footer"><h4>Contact Details </h4>
          <p>Inquiry 
          </p>
          <p>Email </p>
          <p>Number  </p>
      </div>  

  </div>

<div class="social-icons-footer" style="flex-direction: row;margin-top: 20px;color: black;">
  <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-linkedin"></i></div>

  <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-pinterest"></i></div>

  <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-instagram"></i>
  </div>

  

</div>

</div>

</div>

<div class="flex-item-right-footer">
  <img [src]="'assets/images/logo.png'">
  <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>

</div>


</div>
</div>
<!-- Desktop website code end--> 

  <!-- phone website code start-->  
  <!-- Contenedor -->
  <div class="footer-black" *ngIf="!changecolor">
  <ul id="accordion" class="accordion">
    <li>
      <div class="link" (click)="openfooter('about')">About Us<i [ngClass]="this.showopen == 'about'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'about'?'block':''">
        <li><a >Collection</a></li>
        <li><a >Collaborations</a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('corporate')">Corporate <i [ngClass]="this.showopen == 'corporate'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'corporate'?'block':''" >
        <li><a >Private Policy</a></li>
        <li><a >T & C</a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('export')">Export <i [ngClass]="this.showopen == 'export'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'export'?'block':''">
        <li><a >Packing List</a></li>
        <li><a >Process </a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('contact')">Contact Details <i [ngClass]="this.showopen == 'contact'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'contact'?'block':''">
        <li><a >Inquiry</a></li>
        <li><a >Email</a></li>
        <li><a >Number</a></li>
      </ul>
    </li>
    <div class="flex-item-right-footer" style="margin-top:30px;margin-bottom:30px">
      <img src="assets/images/logo.png">
      <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>
    
    </div>
  </ul>
</div>

<div class="footer-white" *ngIf="changecolor">
  <ul id="accordion" class="accordion">
    <li>
      <div class="link" (click)="openfooter('about')">About Us<i [ngClass]="this.showopen == 'about'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'about'?'block':''">
        <li><a >Collection</a></li>
        <li><a >Collaborations</a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('corporate')">Corporate <i [ngClass]="this.showopen == 'corporate'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'corporate'?'block':''" >
        <li><a>Private Policy</a></li>
        <li><a>T & C</a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('export')">Export <i [ngClass]="this.showopen == 'export'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'export'?'block':''">
        <li><a>Packing List</a></li>
        <li><a>Process </a></li>
      </ul>
    </li>
    <li>
      <div class="link" (click)="openfooter('contact')">Contact Details <i [ngClass]="this.showopen == 'contact'?'fa fa-chevron-up':'fa fa-chevron-down'"></i></div>
      <ul class="submenu" [style.display]="this.showopen == 'contact'?'block':''">
        <li><a >Inquiry</a></li>
        <li><a >Email</a></li>
        <li><a >Number</a></li>
      </ul>
    </li>
    <div class="flex-item-right-footer" style="margin-top:30px;margin-bottom:30px">
      <img src="assets/images/logoblack.png">
      <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>
    
    </div>
  </ul>
</div>

  
  
  <!-- phone website code end-->  