<!-- Desktop website code start-->  

<div class="flex-container-footer-desktop">
    <div class="flex-items-left-footer">
  
    <div style="flex-direction: column;">  
      <div style="flex-direction: row;" >
        <div class="head-elements-footer">
        <h4>About Us</h4>
        <p>Collection</p>
        <p>Collaborations</p>
        </div>
  
        <div class="head-elements-footer"><h4>Corporate</h4>
        <p>Private Policy</p>
        <p>T & C</p>
        </div>
      
        <div class="head-elements-footer"><h4>Export </h4>
          <p>Packing List
          </p>
          <p>Process </p>
          </div>
        
       <div class="head-elements-footer"><h4>Contact Details </h4>
            <p>Inquiry 
            </p>
            <p>Email </p>
            <p>Number  </p>
        </div>  
  
    </div>
  
  <div class="social-icons-footer" style="flex-direction: row;margin-top: 20px;color: #ffe606;">
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-linkedin"></i></div>
  
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-pinterest"></i></div>
  
    <div _ngcontent-tac-c3="" class="icons"><i _ngcontent-tac-c3="" aria-hidden="true" class="fa fa-instagram"></i>
    </div>
  
    
  
  </div>
  
  </div>
  
  </div>
  
  <div class="flex-item-right-footer">
    <img src="assets/images/logo.png">
    <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>
  
  </div>
  
  
  </div>

  <!-- Desktop website code end-->  
  
  <!-- phone website code start-->  
  <!-- Contenedor -->
  <ul id="accordion" class="accordion">
    <li>
      <div class="link">About Us<i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Collection</a></li>
        <li><a href="#">Collaborations</a></li>
      </ul>
    </li>
    <li>
      <div class="link">Corporate <i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Private Policy</a></li>
        <li><a href="#">T & C</a></li>
      </ul>
    </li>
    <li>
      <div class="link">Export <i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Packing List</a></li>
        <li><a href="#">Process </a></li>
      </ul>
    </li>
    <li>
      <div class="link">Contact Details <i class="fa fa-chevron-down"></i></div>
      <ul class="submenu">
        <li><a href="#">Inquiry</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Number</a></li>
      </ul>
    </li>
    <div class="flex-item-right-footer" style="margin-top:30px;margin-bottom:30px">
      <img src="assets/images/logo.png">
      <p style="font-size: 12px;">©2024 Grasberg Decor Inc.</p>
    
    </div>
  </ul>
  

  
  
  <!-- phone website code end-->  