<div class="enquiry-form">
    <div class="container">
        <div class="row">
    <div class="col-md-6">
        <div class="text-header">
            <h2>Business inquiry</h2>
        </div>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
              <input type="text" class="form-control" placeholder="Companies Name" name="email">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Email address *" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number *" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <select class="form-select">
                            <option>Tile Size</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Quantity (Boxes) " name="email">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <select class="form-select">
                        <option>Country Port</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>                    </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>                  </div>
            </div>
          
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="row">
            <div class="col-md-3">
                <div class="d-flex justify-content-between social-media">
                    <div><i class="fa fa-linkedin" aria-hidden="true"></i>
                    </div>
                    <div><i class="fa fa-pinterest" aria-hidden="true"></i></div>
                    <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 right-details">
        <div class="card" style="width: 18rem; text-align: center;">
            <div class="upper-circle"></div>
            <div class="text-align:center">            <img src="../../assets/images/logo.png" style="width: 100px;text-align: center;" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Grasber Decor Inc.</h5>
              <ul>
                <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>+1 (123) 123 8233</li>
                <li><span><i class="fa fa-envelope" aria-hidden="true"></i>
                </span>business@grasber.ca</li>
                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>109, Richmondhill,<br>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;Voyghan, M9E 3NQ</li>

              </ul>
            </div>
          </div>
    </div>
</div>


</div>



</div>