::ng-deep .enquiry-form{
    height: 100%;
    background: black;
    color: white;
    display: grid;
    align-items: center;
    .text-header{
        text-align: center;
    }
    .product-details-head{
        position: relative;
       .front-head{
        position: absolute;
        left: -50%;
        right: -50%;
        top: -3px;
            h2{
                text-align: center;
                font-family: canvasBlack;
                text-transform: capitalize;
                font-size: 1.7rem;
                text-align: center;
            }
       } 
        .back-overlap{
            h1{
                font-family: "canvasBlack";
                font-size: 2.2rem;
                text-align: center;
                text-shadow: 0 0 0px #4f4f4f, 0 0 1px #a5a5a5;
                color: black;
                text-transform: capitalize;
            }
        }
    }
    input,select,textarea{
        border-color: #ebebeb;
        background: black;
        color: #767676 !important;
        font-family: "GeosansLight";
        border: 1px solid #767676;
    }
    ::placeholder {
        color:#767676;
      }
      select option {
        color: #767676;
          }
          select option:checked {
            background-color: rgb(255, 230, 6); /* blue */
            color: #000; /* black */
        }
        button{
            background-color: rgb(255, 230, 6); /* blue */
            color:black;
            border: none;

        }
        .social-media{
            margin-top: 20px;
            color:rgb(255, 230, 6);
            font-size: 32px;

        }
        .right-details{
            height: 600px;
            display: grid;
            color:rgb(255, 230, 6);
            background: black;
            justify-content: right;
            align-items: center;
           
            .upper-circle{
                width: 100px;
                height: 20px;
                border: 0.5px solid #494141;
                border-radius: 5px;
                margin: 20px auto;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    font-size: 18px;
                    text-align: left;
                    margin-bottom: 15px;
                    font-family: GeosansLight;
                }
                span{
                    margin-right: 30px;
                    font-size: 32px;
                    color: rgb(255, 230, 6);
                }
            }
            .card{
                background: black;
                color: white;
                border-radius: 20px;
                padding: 10px;
                box-shadow:0 4px 8px 0 rgb(110 108 108 / 50%), 0 6px 20px 0 rgb(131 131 131 / 50%);

            }
            .card-img-top{
                width: 65px;
                text-align: center;
                padding-top: 26px;
            }
            .image-circle{
                border: 1px solid #ffe606;
                border-radius: 50%;
                width: 50%;
                margin: auto;
                /* padding: 20px 30px; */
                height: auto;
                height: 125px;
            }
            
        }
    }