
<div class="cointainer add-to-cart">
    <div class="row">
        <div class="cart-details d-flex justify-content-around">
            <div class="cart-image">
                <div class="imgae-card">
                    <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" style="height: 291px;object-fit: cover;" class="card-img-top" alt="...">
        
                </div>
                <div class="shadow-image"><img width="80%" src="../../assets/images/icons/shodow.png" alt=""></div>
        
              
            </div>
            <div class="cart-details">
                <div class="head-title d-flex justify-content-between">
                    <h3>Title</h3>
                    <div><i class="fa fa-trash-o" style="font-size:24px"></i></div></div>
                <div class="product-details">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Size </td>
                                <td>: 1500mm X 3200mm </td>
                            </tr>
                            <tr>
                                <td>Surface </td>
                                <td>: Matt </td>
                            </tr>
                            <tr>
                                <td>Thickness </td>
                                <td>: 12mm </td>
                            </tr>
                            <tr>
                                <td>One Box </td>
                                <td>: 2 Pieces </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
