.product-details{
    background-color: white;
    padding: 30px 50px;
    height: auto;
    // .inner-banner{
    //     // overflow: hidden;
    // }
    .right-details{
        .product-details-head{
            position: relative;
            h2{
                font-size: 50px;
            position: absolute;
            text-align: center;
            font-family: canvasBlack;
            text-transform: capitalize;
            font-size: 5rem;
            text-align: center;
            left: 26%;
            top: 2%;
            color: #5d624c;
            }
            .back-overlap{
                h1{
                    font-family: 'canvasBlack';
            font-size: 6rem;
            text-align: center;
          /*  text-shadow: 0 0 3px #c5c5c5, 0 0 5px #a5a5a5; */
            color: white;
            text-transform: capitalize;
                }
            }
        }
        .para-details{
            .border-1{
                border-right: 1px solid rgb(201, 201, 201);
                padding: 0 10%;
            }
        }
        .add-feature{
            text-align: center;
            .inner-box{
                width: 70%;
                margin: auto;
                display: flex;
                gap: 20px;
            }
        }
    }
}
.carousel-item img{border-radius: 20px;}
.flip-boxArea{width: 880px; height: 300px; float:right; position: relative; text-align: end;}
.outside-cont-flip-boxarea{
    margin-top: 13%!important;
}
.imgBox img{width: 700px;}
.curvingBox{width: 120px; position:absolute; bottom: 7%; left: 6%;}
.curvingBox img{width: 120px;}
.shap-left{position: absolute;left: 21%; bottom: 15%; z-index: 1;}
.shap-left img{width: 233px;}
.shap-right{position: absolute; right:20%; bottom:10%; z-index: 1;}
.shap-right img{width: 260px;}
.scalBox{width: 100px; position:absolute; bottom: 0; right:10%;}
.scalBox img{width: 15px;}
.btn-width{width: 45%;}
.btn-width button{font-size: 13px;}
.green-btn{
    background-color: #5d624c;
}
.input_box1{width: 15%; text-align: center; font-size: 13px;}
.input_box2{width: 20%; text-align: center; font-size: 13px;}
.mrgn-btn{margin-left: 16%;}
.mrgn-btn2{margin-right: 17%;}

.destop_view_product_details{display: block;}
.mobile_view_product_details{display: none;}
.border-1 p {font-family:GeosansLight; font-size: 13px; text-align: center; margin: 10px 0 0;}


    @media only screen and (max-width: 600px) {
    .flip-boxArea{width: 100%; height: 250px; position: relative; padding-top: 50px;}
    .imgBox img{width: 100%;}
    .curvingBox{width: 100px; position:absolute; top: 0%; left: 0;text-align: center; font-size: 14px;}
    .curvingBox img{width: 70px;}
    .curvingBox:before {
     background: #848484;
    content: " ";
    display: block;
    width: 1px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 90%;
    z-index: 1;
    opacity: 0.5;
    }
    .shap-left{display: none;}
    .shap-left img{display: none;}
    .shap-right{position: absolute; right:18%; bottom:26%; z-index: 1;}
    .shap-right img{width:140px;}
    .scalBox{width: 100px; position:absolute; bottom: 16%; right:0%;}
    .scalBox img{width: 10px;}

    .add-feature{
        text-align: center;
        .inner-box{
            width: 100%!important;
            margin:0 5% 0 0!important;
        }
    }
    .product-details{
        padding: 30px 20px;}
        .mrgn-btn{margin-left: 5%;}
.mrgn-btn2{margin-right: 5%;}
.destop_view_product_details{display: none!important;}
.mobile_view_product_details{display: block!important;}

.border-1{border-right: 1px #ccc solid; text-align: center; height: 50px;} 
.border-1:nth-last-child{border-right: none; text-align: center; height: 50px;}  

}

::ng-deep{
    .stick-menu{
        position: fixed;
    bottom: 0;
    background: white;
    z-index: 9;
    width: 100%;
    height: 180px;
    border-radius: 20px;
    background: #f9f9f9;
    margin-left: -20px;
    padding-left: 17px;
    }
}

::ng-deep{
    .dot-cursor{
        margin-bottom: -27px;
        // padding-bottom: 10px;
  
        button {
            border-radius:50%;
            height: 10px !important;
            width: 10px !important; 
            border: 1px solid gray !important;
            .active{
                background-color: grey !important;
    
            }
        }
        .active{
            background-color: grey !important;
            
        } 
    }
}


