<div class="product-details">

<div class="cointainer">
    <div class="row">
        <div class="col-md-6 inner-banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdYqTQXsNzlXiquSLr1Bcvq5cYBDZkRAoV4Q&usqp=CAU" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdYqTQXsNzlXiquSLr1Bcvq5cYBDZkRAoV4Q&usqp=CAU" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdYqTQXsNzlXiquSLr1Bcvq5cYBDZkRAoV4Q&usqp=CAU" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-md-6">
            <div class="right-product-details">
                <div class="product-details-head">
                    <h2>nirvana</h2>
                </div>
                <div class="para-details mt-5">
                    <div class="d-flex justify-content-evenly">
                        <div class="border-1">  
                             <img src="assets/images/icons/detail1.png"  style="width: 100%;height: 10px;">
                             <p>1200 X 80</p>
                        </div>
                        <div class="border-1">  
                            <img src="assets/images/icons/detail2.png"  style="width: 100%;height: 30px;">
                            <p>2 Piece</p>
                       </div>
                       <div class="border-1" style="border-right: 0;">  
                        <img src="assets/images/icons/detail3.png"  style="width: 100%;height: 30px;">
                        <p>320 boxes</p>
                   </div>
                    </div>
                </div>
                <div class="add-feature mt-5">
                    <div class="d-flex justify-content-evenly inner-box">
                        <div>
                            <button type="button" class="btn btn-secondary">Add to Container</button>
                            <div class="d-flex justify-content-between mt-1">
                                <div>
                                    <button type="button" class="btn btn-secondary">-</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary">+</button>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class="mb-3" style="width: 100px;">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <p>Boxes</p>
                              </div>
                        </div>
                        <div>
                            <div class="mb-3" style="width: 150px;"> 
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <p>Total Sqft</p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-5">
      <div class="col-md-8 offset-md-4">
        <div class="flip-boxArea">
          <div class="imgBox"><img src="assets/images/flip-img.png"></div>

        <div class="curvingBox">
          <img src="assets/images/box.png">
          <p class="text-start">Carving Finish</p> 
        </div>

        <div class="shap-left">
          <img src="assets/images/left-shap.png">
        </div>
        <div class="shap-right">
          <img src="assets/images/right-shap.png">
        </div>

        <div class="scalBox">
          <img src="assets/images/scal.png">
         <p>9 MM</p> 
        </div>
      </div>

    </div>

  </div>
</div>

</div>