<div class="catalogue-container">  
 
    <a href="assets/pdfs/1" target="_blank">
      <img src="assets/images/cover1.png"> </a>
     
      <a href="assets/pdfs/2" target="_blank"> <img src="assets/images/cover2.png"></a>

    <a href="assets/pdfs/3" target="_blank"> <img src="assets/images/cover3.png"></a>  
   </div>

   <div class="catalogue-container-2">  
 
    <a href="assets/pdfs/4" target="_blank">
      <img src="assets/images/cover4.png"> </a>
     
    <a href="assets/pdfs/5" target="_blank"> <img src="assets/images/cover5.png"></a>

    <a href="assets/pdfs/6" target="_blank"><img src="assets/images/cover6.png"></a>
    
   </div>

   <div class="catalogue-container-3">  
 
    <a href="assets/pdfs/7" target="_blank">
      <img src="assets/images/cover7.png"> </a>
    
    
   </div>