
<div class="export-page">
<div class="export-container">
    <p class="back">Export</p><br>
    <p class="front">Export</p>
   </div>
  
  <div class="globe-export">
   <img src="assets/images/globe.svg">
  </div>
  
  
  
  <table>
    <tr>
      <th>Size</th>
      <th>Thickness</th>
      <th>Piece/box </th>
      <th>Sq.Mtr/box</th>
      <th>Weight/box</th>
      <th>No of box/Pallet</th>
      <th>No of box/Container</th>
      <th>No of Pallets/Container</th>
      <th>Total sq.mtr/container </th>
      <th>Net weight</th>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 60px;
        height: 80px;border: 1px solid white;margin: 20px 0px;"></div><p>160x320</p></td>
      <td class="yellow-border">9 mm (Aprx)</td>
      <td  class="yellow-border">2 Piece </td>
      <td  class="yellow-border">1.44 sq.mtr</td>
      <td  class="yellow-border">26 KGMS</td>
      <td  class="yellow-border">32</td>
      <td  class="yellow-border">640</td>
      <td  class="yellow-border">20</td>
      <td  class="yellow-border">921.60</td>
      <td  class="yellow-border">1800 KGMS</td>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 40px;
        height: 70px;border: 1px solid white;margin: 20px 0px;"></div><p>60x120</p></td>
      <td class="yellow-border">9 mm (Aprx)</td>
      <td  class="yellow-border">2 Piece </td>
      <td  class="yellow-border">1.44 sq.mtr</td>
      <td  class="yellow-border">26 KGMS</td>
      <td  class="yellow-border">32</td>
      <td  class="yellow-border">640</td>
      <td  class="yellow-border">20</td>
      <td  class="yellow-border">921.60</td>
      <td  class="yellow-border">1800 KGMS</td>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 20px;
        height: 70px;border: 1px solid white;margin: 20px 0px;"></div><p>200x1200</p></td>
      <td class="yellow-border">9 mm (Aprx)</td>
      <td  class="yellow-border">5 Piece </td>
      <td  class="yellow-border">1.2 sq.mtr</td>
      <td  class="yellow-border">25 KGMS</td>
      <td  class="yellow-border">42</td>
      <td  class="yellow-border">700</td>
      <td  class="yellow-border">17</td>
      <td  class="yellow-border">840</td>
      <td  class="yellow-border">17500 KGMS</td>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 50px;
        height: 50px;border: 1px solid white;margin: 20px 0px;"></div><p>800x800</p></td>
      <td class="yellow-border">>8.5 mm (Aprx)</td>
      <td  class="yellow-border">3 Piece </td>
      <td  class="yellow-border">1.92 sq.mtr</td>
      <td  class="yellow-border">37 KGMS</td>
      <td  class="yellow-border">36</td>
      <td  class="yellow-border">468</td>
      <td  class="yellow-border">13</td>
      <td  class="yellow-border">898.56</td>
      <td  class="yellow-border">17316 KGMS</td>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 40px;
        height: 70px;border: 1px solid white;margin: 20px 0px;"></div><p>800x1600</p></td>
      <td class="yellow-border">9 mm (Aprx)</td>
      <td  class="yellow-border">2 Piece </td>
      <td  class="yellow-border">2.56 sq.mtr</td>
      <td  class="yellow-border">52 KGMS</td>
      <td  class="yellow-border">30</td>
      <td  class="yellow-border">330</td>
      <td  class="yellow-border">11</td>
      <td  class="yellow-border">844.8</td>
      <td  class="yellow-border">17160 KGMS</td>
    </tr>
  
    <tr>
      <td class="first-td"><div style="    width: 35px;
        height: 65px;border: 1px solid white;margin: 20px 0px;"></div><p>1200 X 2400</p></td>
      <td class="yellow-border">15 mm (Aprx)</td>
      <td  class="yellow-border">1 Piece </td>
      <td  class="yellow-border">2.88 sq.mtr</td>
      <td  class="yellow-border">105 KGMS</td>
      <td  class="yellow-border">25</td>
      <td  class="yellow-border">150</td>
      <td  class="yellow-border">6</td>
      <td  class="yellow-border">432</td>
      <td  class="yellow-border">15750 KGMS</td>
    </tr>
    
  </table>
</div>
  
  