
<div class="collection-page w3-animate-opacity">
    <div class="text-top">
        <p>Enter a realm of refined elegance where spacious interiors become the canvas for storytelling and personal anecdotes, reflecting the timeless pursuit of sophistication in interior design.</p>
      </div>
      <div style="display: flex;justify-content: center; filter: drop-shadow(0px 16px 10px  rgb(187, 187, 187));">
      <img src="../../assets/images/banner.jpg" class="image-container">
      </div>
      
      <div class="explore-button"><span><a routerLink="/explore">Explore-Collection</a></span></div>
</div>