::ng-deep .flexbox{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    .border-box{
        width: 100px;
        height: 100px;
        border: 0.5px solid grey;
    }
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        width: 100%;
        color: #b3abab;
    }
  
}

::ng-deep .page-cointaner{
    background: rgb(245, 245, 245);
    padding: 10px;
    height: auto;
    input{
        opacity: 1 !important;
    }
    .card {
        border: none;
        border-radius: 15px;
        padding: 25px;
        .inner-text{
            p{
                color: grey;
                font-size: 14px;
                margin: 0;
                margin-top: -10px;
            }
           
        }
        .fav{
            font-size: 10px;
            color: #d5d5d5;
        }
    }
    .tile-sizes-container div {
        background-color: none;
        border: 1.5px solid rgb(175, 175, 175);
    }
} 

::ng-deep .product-details{
    position: relative;
    .card
    {
        position: relative;
        background: none;
        z-index: 9;
    }
    .card-title {
        position: absolute;
        bottom: 20%;
        left: 37%;
        font-family: canvasBlack;
    }
    
    .product-image{
        position: relative;
        z-index: 9;
    }
    .card-body{
        position: absolute;
        width: 100%;
        bottom: -80px;
        right: 0px;
        display: grid;
        height: 300px;
        align-items: end;
        background: white;
        border-radius: 20px;
        z-index: 9;
    }
  
}




::ng-deep .mobile-view .product-card{
    position: relative;height: 300px;
    .imgae-card{
        height: 180px;
    background: grey;
    position: absolute;
    width: 54%;
    margin-top: 39px;
    left: 24%;
    z-index: 9;
    
    }
    .text-card{
        height: 197px;
        background: white;
        border-radius: 20px;
        position: absolute;
        bottom: -26px;
        width: 100%;
    }
    .card-body{
        margin-top: 108px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title{
        margin-bottom: 15px;
    }
    .inner-text{
        p{
            color: grey;
            font-size: 14px;
            margin: 0;
            margin-top: -10px;
        }
       
    }
    .fav{
        font-size: 25px;
        color: #d5d5d5;
    }
    .shadow-image{
        position: absolute;
        z-index: 0;
        bottom: 70px;
    }
   
   
}

.showfilter{
    position: fixed;
    z-index: 99;
    height: 90%;
    width: 100%;
    /* top: -4%; */
    left: 0;
    .row{
        width: 95%;
        flex-wrap: nowrap;
    }

}
::ng-deep .side-filter{
    width: 100%;
    text-align: right;
}

::ng-deep .explore-page .innertext{
    position: absolute;
    bottom: 0;
}

::ng-deep .activetitle{
    border: 2px solid black !important;
}

::ng-deep .stickey{
    position: fixed;
    top: 0;
}

