<div class="page-cointaner">
<!-- <div class="container">
    <div class="flexbox">
        <div class="border-box" *ngFor="let item of boxfilter" [style.width]="item.width" [style.height]="item.height">
          <label for=""> {{item.value}}</label> 
        </div>

    </div>
</div> -->

<div class="tile-sizes-container mt-5 mb-5">
    <div class="tile1">
    </div>
    <div class="tile2"></div>
    <div class="tile3"></div>
    <div class="tile4"></div>
    <div class="tile5"></div>
    <div class="tile6"></div>
    <div class="tile7"></div>
    </div>

<div class="container-fluid">
    <div class="side-filter" (click)="opensidebar()">
        <img style="width: 30px;" src="assets/images/icons/backgrey.png" alt="">
    </div>
    <div class="row ms-4">
        <div class="col-md-2 card" [class]="showfilter?'showfilter':'responsive-filter'" style="margin-top: 30px;">
            <div *ngFor="let item of sidebar">
                <h4>Surface</h4>
                <div class="row" *ngFor="let a of item.data">
                    <div class="col-md-8">{{a.optionvalue}}</div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                   </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-10 dekstop-product">
            <div class="row ms-4">
                <!-- <div class="col-md-4">
                    <div class="product-details">
                       
                        <div class="card">
                            <div class="product-image">
                                <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                              <div class="d-flex justify-content-between">
                                <div class="inner-text">
                                    <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                    <p>160 X 302</p>
                                </div>
                                <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
    
                                </div>
    
                              </div>
                            </div>
                          </div>
                    </div>
                  
                </div> -->
                <div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" style="height: 291px;object-fit: cover;" class="card-img-top" alt="...">

                        </div>
                        <div class="shadow-image"><img width="80%" src="../../assets/images/icons/shodow.png" alt=""></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div  class="product-card">
                        <div class="text-card">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                                <div class="d-flex justify-content-between">
                                  <div class="inner-text">
                                      <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                                      <p>160 X 302</p>
                                  </div>
                                  <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>
      
                                  </div>
      
                                </div>
                              </div>
                        </div>
                        <div class="imgae-card">
                            <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</div>

</div>

<div class="responsive-explore">
    <div class="mobile-view">
        <div  class="product-card">
            <div class="text-card">
                <div class="card-body">
                    <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                    <div class="d-flex justify-content-between">
                      <div class="inner-text">
                          <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                          <p>160 X 302</p>
                      </div>
                      <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>

                      </div>

                    </div>
                  </div>
            </div>
            <div class="imgae-card">
                <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" style="height: 291px;object-fit: cover;" class="card-img-top" alt="...">

            </div>
            <div class="shadow-image"><img width="80%" src="../../assets/images/icons/shodow.png" alt=""></div>

        </div>
    </div>
    <div class="mobile-view">
        <div  class="product-card">
            <div class="text-card">
                <div class="card-body">
                    <h5 class="card-title text-center" style="cursor: pointer;" routerLink="product-details">Card title</h5>
                    <div class="d-flex justify-content-between">
                      <div class="inner-text">
                          <img src="https://cdn.pixabay.com/photo/2021/01/11/12/55/measure-5908342_960_720.png"  style="width: 100%;height: 30px;">
                          <p>160 X 302</p>
                      </div>
                      <div class="fav"><i class="fa fa-heart" aria-hidden="true"></i>

                      </div>

                    </div>
                  </div>
            </div>
            <div class="imgae-card">
                <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" style="height: 291px;object-fit: cover;" class="card-img-top" alt="...">

            </div>
            <div class="shadow-image"><img width="80%" src="../../assets/images/icons/shodow.png" alt=""></div>

        </div>
    </div>
</div>

</div>