 /* desktop code start*/
 @font-face {
    font-family: canvasBlack;
    src: url(assets/fonts/MADE-Canvas-Black.otf);
  }
  @font-face {
    font-family: light;
    src: url(assets/fonts/MADE-Canvas-Light.otf);
  }
  @font-face {
    font-family: regular;
    src: url(assets/fonts/MADE-Canvas-Regular.otf);
  }
  @font-face {
    font-family: GeosansLight;
    src: url(assets/fonts/GeosansLight.ttf);
  }
  .menu-container-desktop{
    padding-top:5%;
    font-family: Light;
  }
  .menu-desktop .nav-left{
    display: flex;
    justify-content: space-between;
  }
  .menu-desktop .nav-left a{
  color:white;
  }
  .menu-desktop .nav-left-black a{
    color:black;
    }
  .side-filter{
    display: none;
  }
  
  .menu-desktop .nav-right{
    display: flex;
    justify-content: space-between;
  }
  .menu-desktop .nav-right a{
  color:white;
  }
  .menu-desktop .nav-right-black a{
    color:black;
    }
  .menu-desktop .nav-center{
    display: flex;
    justify-content: center;
  }
  .menu-desktop .menu-desktop-logo{
    height: 100px;
    width: auto;
  }
  .menu-container-phone{
    display: none;
  }
  .mobile-header{
    display: none !important;
  }
  .top-mobile-header{
    display: none !important;
  }
   /* desktop code end*/
  
  
  
    /* tablet code start*/
  @media only screen and (max-width: 1000px) {
    .menu-container-desktop{
      display: none ;
    }
    .menu-container-phone{
      display: inline-block;
    }
    
  }
  .responsive-explore{
    display: none;
  }
     /* tablet code end*/
  
  
   /* mobile code start*/
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(0, 0, 0);
    }
    .export-page{
      margin: auto;
      table{
        display: block;
        overflow-y: auto;
        margin: au;
      }
     
    }
    .explore-page .innertext{
      font-size: 8px;
      margin-bottom: 27px;
    
    }
    .dekstop-product{
      display: none;
    }
    .responsive-filter{
      display: none;
    }
    .side-filter{
      display: block;
    }
    .responsive-explore{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      .mobile-view
          {
            flex: 50% !important;
            padding: 0px 10px
          }  
          }
    .menu-container-desktop{
      display: none;
    }
    .mobile-header{
      display: flex !important;
    }
    .top-mobile-header{
      display: flex !important;
    }
    .menu-container-phone{
      display: inline-block;
    }
    .margin-add{
      margin-top: 20px;
    }
     .right-details {
     
      justify-content: center !important;
      
  }
    .social-media{
      margin-top: 20px;
      color:rgb(255, 230, 6);
      font-size: 32px;

  }
    
  
  
  
  
  
  
  }
     /* mobile code end*/
  /* navbar for phone and tab start*/
    .menu {
      position: absolute;
      left: 0;
      top: -100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 300px;
      overflow: hidden;
      transition: top 300ms ease-in-out 300ms;
      input {
        opacity: 0;
      }
      &.active {
        top:0;
        transition: top 500ms ease-in-out 0ms;
      }
      
      li {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #3e3e3e;
        color: white;
        font: 14px/14px Helvetica;
        cursor: pointer;
        background: #2a2a2a;
        transition: background 200ms ease-in-out;
        
  
        
        &:last-of-type {
          border: 0;
        }
      }
    }
    
  
    
    .nav {
      width: 91px;
      height: 94px;
  
      cursor: pointer;
      position: absolute;
      left: 0;
      transition: left 300ms ease-in-out 500ms, background 200ms ease-in-out;
      top: 0;
          
      &.active {
        left: 300px;
        transition: left 300ms ease-in-out 0ms;
        .line-wrap {
          transform: rotate(180deg);
        }
      
        span {
          &:after {
            width: 20px;
            transform: translateX(15px) translateY(5px) rotate(45deg);
          }
    
          &:before {
            width: 20px;
            transform: translateX(15px) translateY(-5px) rotate(-45deg);
          }
        }
      }
    }
    
    .line-wrap {
      width: 31px;
      height: 15px;
      transition: all 500ms ease-in-out;
      position: relative;
      margin: 34px 30px 60px 30px;
      padding-top: 11px;
      
      span {
        width: 31px;
        height: 4px;
        background: white;
        transition: all 500ms ease-in-out;
        display: block;
        position: relative;
        
        &:after,
        &:before {
          display: block;
          width: 31px;
          background: white;
          position: absolute;
          height: 4px;
          content: '';
          top: 11px;
          transition: all 500ms ease-in-out;
        }
        
        &:after {
          top: -11px;
        }
      }
    }
    /* navbar for phone and tab start*/



    // explore page

    .product-card{
      position: relative;height: 450px;
      .imgae-card{
          height: 291px;
      background: grey;
      position: absolute;
      width: 54%;
      margin-top: 39px;
      left: 24%;
      z-index: 9;
      
      }
      .text-card{
          height: 290px;
          background:white;
          border-radius: 20px;
          position: absolute;
          bottom: 0;
          width: 100%;
        
          h5
          {
              font-family: canvasBlack;
              text-transform: uppercase;
              font-size: 14px;
          }    }
      .card-body{
          margin-top: 190px;
          width: 80%;
          /* margin: 101px auto; */
          margin-left: auto;
          margin-right: auto;
      }
      .card-title{
          margin-bottom: 15px;
      }
      .inner-text{
          p{
              color: grey;
              font-size: 14px;
              margin: 0;
              margin-top: -10px;
          }
         
      }
      .fav{
          font-size: 25px;
          color: #d5d5d5;
      }
      .shadow-image{
          position: absolute;
          z-index: 0;
          bottom: 105px;
      }
      .side-filter{
          float: right;
      }
     
  }