<div style="background-image: url(assets/images/bg-index-page-06.jpg); background-position: center;background-repeat: no-repeat;background-size:150vw 200vh;height: 100vh;">
<!-- Desktop website code start-->  

<div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4 nav-left">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a href="#contact">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" src="assets/images/logo.png">
      </div>
      </div>
      <div class="col-sm-4 nav-right">
        <a href="#news">Catalogues</a>
      <a href="#contact">Contact Us </a>
      <a href="#contact"><img src="assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      </div>
    </div>
  </div>
  
  <!-- Desktop website code end-->  
</div>