<div style="background-image: url(assets/images/bg-index-page-06.jpg); background-position: center;background-repeat: no-repeat;background-size:150vw 200vh;height: 100vh;">
<!-- Desktop website code start-->  

<!-- <div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4 nav-left">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a routerLink="/explore">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" routerLink="/" src="assets/images/logo.png">
      </div>
      </div>
      <div class="col-sm-4 nav-right">
        <a href="#news">Catalogues</a>
      <a routerLink="/contact-us">Contact Us </a>
      <a href="#contact"><img src="assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      </div>
    </div>
  </div> -->

  <div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4 nav-left">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a href="#contact">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" src="/assets/images/logo.png">
      </div>
      </div>
      <div class="col-sm-4 nav-right">
        <a href="#news">Catalogues</a>
      <a routerLink="/contact-us">Contact Us </a>
      <a href="#contact"><img src="/assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      </div>
    </div>
  </div>

  <div class="phone-logo col-12"> <img class="" src="/assets/images/logo.png">
  </div>
  
  
  <!--Mobile website code end  -->
  <div class="search-icon" style="height: 30px;">
     <!-- <img src="assets/images/search-icon.png" > -->
     <img width="50px" src="assets/images/icons/whitemenu.png" (click)="openmenu()">
  </div>
  
  <ul class="menu" [classList]="showactive?'menu active':'menu'">
    <div class=" d-flex justify-content-between mb-3">
      <div>
        <img style="width: 10px;" src="assets/images/icons/backbtn.png" alt="" (click)="openmenu()">
  
      </div>
      <div>
        <img style="width: 100px;margin-left: 60px;" routerLink="/" src="assets/images/logo.png" alt="">
  
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <div style="margin-right: 10px;">
            <img style="width: 30px;" src="assets/images/icons/menubar.png" alt="" (click)="openmenu()">
            <!-- <p style="color: white;" *ngIf="showactive" (click)="openmenu()">X</p> -->
          </div>
          <div>
            <img style="width: 30px;" src="assets/images/icons/search-icon.png" alt="">
  
          </div>
        </div>
      </div>
   
  
    </div>
    <li routerLink="/contact-us">Collections</li>
    <li routerLink="/contact-us">Projects</li>
    <li routerLink="/contact-us">Exports</li>
    <li routerLink="/contact-us">Catalogues</li>
    <li routerLink="/contact-us">Contact Us</li>
    <!-- <li><img style="height: 60px;" src="images/icon menu bar.png"></li> -->
    <div class="mobile-icons d-flex justify-content-between social-media">
      <div><i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
      <div><i class="fa fa-pinterest" aria-hidden="true"></i></div>
      <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
  </div>
  </ul>
  
  <div class="step-into-text">
    <p> Step Into Timeless Elegance</p>
  </div>
  
  <div class="tile-sizes-container">
  <div class="tile1"></div>
  <div class="tile2"></div>
  <div class="tile3"></div>
  <div class="tile4"></div>
  <div class="tile5"></div>
  <div class="tile6"></div>
  <div class="tile7"></div>
  </div>
  
  <div class="explore-button"><a routerLink="explore">Explore Collection </a></div>
  
  <!-- Desktop website code end-->  
</div>