<div style="background-image: url(assets/images/bg-index-page-06.jpg); background-position: center;background-repeat: no-repeat;background-size:150vw 200vh;height: 100vh;">
<!-- Desktop website code start-->  

<!-- <div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4 nav-left">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a routerLink="/explore">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" routerLink="/" src="assets/images/logo.png">
      </div>
      </div>
      <div class="col-sm-4 nav-right">
        <a href="#news">Catalogues</a>
      <a routerLink="/contact-us">Contact Us </a>
      <a href="#contact"><img src="assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      </div>
    </div>
  </div> -->

  <div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4 nav-left">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a href="#contact">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" src="/assets/images/logo.png">
      </div>
      </div>
      <div class="col-sm-4 nav-right">
        <a href="#news">Catalogues</a>
      <a routerLink="/contact-us">Contact Us </a>
      <a href="#contact"><img src="/assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      </div>
    </div>
  </div>

  <div class="phone-logo col-12"> <img class="" src="/assets/images/logo.png">
  </div>
  
  
  <!--Mobile website code end  -->
  <div class="search-icon"> <img src="assets/images/search-icon.png">
  </div>
  
  <div class="menu-container-phone"> <input type="checkbox" id="input-nav" />
    <ul class="menu" [classList]="showactive?'menu active':'menu'">
      <li>Collections</li>
      <li>Projects</li>
      <li>Exports</li>
      <li>Catalogues</li>
      <li routerLink="/contact-us">Contact Us</li>
      <li><img style="height: 60px;" src="images/icon menu bar.png"></li>
    </ul>
    <div class="nav" [classList]="showactive?'nav active':'nav'" (click)="openmenu()">
      <div class="line-wrap">
        <span></span>
      </div>
    </div>
  </div>
  
  <div class="step-into-text">
    <p> Step Into Timeless Elegance</p>
  </div>
  
  <div class="tile-sizes-container">
  <div class="tile1"></div>
  <div class="tile2"></div>
  <div class="tile3"></div>
  <div class="tile4"></div>
  <div class="tile5"></div>
  <div class="tile6"></div>
  <div class="tile7"></div>
  </div>
  
  <div class="explore-button"><a routerLink="explore">Explore Collection </a></div>
  
  <!-- Desktop website code end-->  
</div>