<div style="background: black;" [style.background-color]="showheader?'rgb(245, 245, 245)':'black'">
<div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4" [ngClass]="showheader?'nav-left-black nav-left':'nav-left'">
        <a href="#news">Collections</a>
      <a href="#contact">Projects</a>
      <a (click)="pushservice()" routerLink="/explore">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center">
       <img class="menu-desktop-logo" *ngIf="!showheader" (click)="pushservice()" routerLink="/"  src="assets/images/logo.png">
       <img class="menu-desktop-logo" *ngIf="showheader" (click)="pushservice()" routerLink="/"  src="assets/images/logoblack.png">

      </div>
      </div>
      <div class="col-sm-4 nav-right" [ngClass]="showheader?'nav-right-black nav-right':'nav-right'">
        <a href="#news">Catalogues</a>
      <a  (click)="pushservice()" routerLink="contact-us">Contact Us </a>
      <a *ngIf="!showheader" href="#contact"><img src="assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      <a *ngIf="showheader" href="#contact"><img src="assets/images/icon menu bar2.png" style="height: 50px;margin-top: -20px;"></a>

      </div>
    </div>
  </div>

  <div class="top-mobile-header d-flex justify-content-between mb-3"  [style.background-color]="showheader?'rgb(245, 245, 245)':'black'">
    <div>
      <img style="width: 10px;" *ngIf="!showheader" src="assets/images/icons/backbtn.png" alt="">
      <img style="width: 10px;" *ngIf="showheader" src="assets/images/icons/Vector.png" alt="">

    </div>
    <div>
      <img  *ngIf="showheader" routerLink="/"  width="70px" src="assets/images/icons/logomobileblack.png" alt="">
      <img *ngIf="!showheader" routerLink="/" width="70px" src="assets/images/icons/logomobilewhite.png" alt="">

    </div>
    <div>
      <div class="d-flex justify-content-between">
        <div style="margin-right: 10px;">
          <img *ngIf="showheader" style="width: 30px;" src="assets/images/icons/backgrey.png" alt="" (click)="openmenu()">
          <img *ngIf="!showheader" style="width: 30px;" src="assets/images/icons/menubar.png" alt="" (click)="openmenu()">

          <!-- <p style="color: white;" *ngIf="showactive" (click)="openmenu()">X</p> -->
        </div>
        <div>
          <img *ngIf="!showheader" style="width: 30px;" src="assets/images/icons/search-icon.png" alt="">
          <img *ngIf="showheader" style="width: 30px;" src="assets/images/icons/searchgrey.png" alt="">

        </div>
      </div>
    </div>
 

  </div>

  <div class="mobile-header d-flex justify-content-evenly">
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu1.png" alt="">
    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu2.png" alt="">

    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu3.png" alt="">

    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu4.png" alt="">

    </div>

  </div>

</div>


<!-- <div class="search-icon"> <img src="assets/images/search-icon.png"> -->
<!-- </div> -->

<div class="menu-container-phone"> <input type="checkbox" id="input-nav" />

  <ul class="menu" [classList]="showactive?'menu active':'menu'">
    <div class=" d-flex justify-content-between mb-3">
      <div>
        <img style="width: 10px;" src="assets/images/icons/backbtn.png" alt="" (click)="openmenu()">
  
      </div>
      <div>
        <img style="width: 100px;" src="assets/images/logo.png" alt="">
  
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <div style="margin-right: 10px;">
            <img style="width: 30px;" src="assets/images/icons/menubar.png" alt="" (click)="openmenu()">
            <!-- <p style="color: white;" *ngIf="showactive" (click)="openmenu()">X</p> -->
          </div>
          <div>
            <img style="width: 30px;" src="assets/images/icons/search-icon.png" alt="">
  
          </div>
        </div>
      </div>
   
  
    </div>
    <li>Collections</li>
    <li>Projects</li>
    <li>Exports</li>
    <li>Catalogues</li>
    <li routerLink="/contact-us">Contact Us</li>
    <!-- <li><img style="height: 60px;" src="images/icon menu bar.png"></li> -->
    <div class="mobile-icons d-flex justify-content-between social-media">
      <div><i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
      <div><i class="fa fa-pinterest" aria-hidden="true"></i></div>
      <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
  </div>
  </ul>
  <!-- <div class="nav" [classList]="showactive?'nav active':'nav'" (click)="openmenu()">
    <div class="line-wrap">
      <span></span>
    </div>
  </div> -->
</div>
