<div [class]="isStickyhedaer?'header-sticky':''" style="background: black;" [style.background-color]="showheader?'white':'black'">
<div class="container menu-container-desktop">
    <div class="row menu-desktop">
      <div class="col-sm-4" [class]="showheader?'nav-left-black nav-left':'nav-left'">
        <a routerLink="explore" (click)="scrolltotop()" routerLinkActive="activerroute">Collections</a>
      <a routerLink="about" (click)="scrolltotop()" routerLinkActive="activerroute"> About Us</a>
      <a routerLink="/export" (click)="scrolltotop()" routerLinkActive="activerroute">Exports</a>
  
      </div>
      <div class="col-sm-4 menu-desktop">
        <div class="nav-center-header">
       <img class="menu-desktop-logo" (click)="scrolltotop()" *ngIf="!showheader" routerLink="/"  src="assets/images/logo.png">
       <img class="menu-desktop-logo" (click)="scrolltotop()" *ngIf="showheader" routerLink="/"  src="assets/images/logoblack.png">

      </div>
      </div>
      <div class="col-sm-4 nav-right" [class]="showheader?'nav-right-black nav-right':'nav-right'">
        <a routerLink="explore" (click)="scrolltotop()" routerLinkActive="activerroute">Catalogues</a>
      <a  routerLink="contact-us" (click)="scrolltotop()" routerLinkActive="activerroute">Contact Us </a>
      <a *ngIf="!showheader" href="#contact"><img src="assets/images/icon menu bar.png" style="height: 50px;margin-top: -20px;"></a>
      <a *ngIf="showheader" href="#contact"><img src="assets/images/icon menu bar2.png" style="height: 50px;margin-top: -20px;"></a>

      </div>
    </div>
  </div>
</div>
  <div [class]="isStickyhedaer?'header-sticky':''"  class="top-mobile-header d-flex justify-content-between"  [style.background-color]="showheader?'white':'black'">
    <div>
      <img style="width: 10px;margin-left: 10px;" (click)="blacklist()" *ngIf="!showheader" src="assets/images/icons/backbtn.png" alt="">
      <img style="width: 10px;margin-left: 10px;"  (click)="blacklist()" *ngIf="showheader" src="assets/images/icons/Vector.png" alt="">

    </div>
    <div>
      <img  *ngIf="showheader" routerLink="/" style="margin-right: -60px;"  width="70px" src="assets/images/icons/logomobileblack.png" alt="">
      <img *ngIf="!showheader" routerLink="/" style="margin-right: -60px;" width="70px" src="assets/images/icons/logomobilewhite.png" alt="">

    </div>
    <div>
      <div class="d-flex justify-content-between">
        <div style="margin-right: 20px;">
          <img *ngIf="showheader" style="height: 8px;" src="assets/images/icons/backgrey2.png" alt="" (click)="openmenu()">
          <img *ngIf="!showheader" style="height: 8px;" src="assets/images/icons/icon menu new.png" alt="" (click)="openmenu()">

          <!-- <p style="color: white;" *ngIf="showactive" (click)="openmenu()">X</p> -->
        </div>
        <div>
          <img *ngIf="!showheader" style="width: 30px;" src="assets/images/icons/search-icon.png" alt="">
          <img *ngIf="showheader" style="width: 30px;" src="assets/images/icons/searchgrey.png" alt="">

        </div>
      </div>
    </div>
 

  </div>

  <div class="mobile-header d-flex justify-content-evenly">
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu1.png" alt="">
    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu2.png" alt="">

    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu3.png" alt="">

    </div>
    <div>
      <img style="width: 30px;" src="assets/images/icons/menu4.png" alt="">

    </div>

  </div>




<!-- <div class="search-icon"> <img src="assets/images/search-icon.png"> -->
<!-- </div> -->

<!-- <div class="menu-container-phone"> <input type="checkbox" id="input-nav" /> -->

  <ul class="menu" [classList]="showactive?'menu active':'menu'">
    <div class=" d-flex justify-content-between mb-3">
      <div>
        <img style="width: 10px;margin-left: 10px;" src="assets/images/icons/backbtn.png" alt="" (click)="openmenu()">
  
      </div>
      <div>
        <img style="width: 100px;margin-left: 58px;" routerLink="/" src="assets/images/logo.png" alt="">
  
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <div style="margin-right: 20px;">
            <img style="height: 8px;" src="assets/images/icons/icon menu new.png" alt="" (click)="openmenu()">
            <!-- <p style="color: white;" *ngIf="showactive" (click)="openmenu()">X</p> -->
          </div>
          <div>
            <img style="width: 30px;" src="assets/images/icons/search-icon.png" alt="">
  
          </div>
        </div>
      </div>
   
  
    </div>
    <li  (click)="openmenu()" routerLink="/explore" routerLinkActive="activerroute">Collections</li>
    <li (click)="openmenu()" routerLink="/about" routerLinkActive="activerroute">About Us</li>
    <li (click)="openmenu()" routerLink="/export" routerLinkActive="activerroute">Exports</li>
    <li (click)="openmenu()" routerLink="/explore" routerLinkActive="activerroute">Catalogues</li>
    <li (click)="openmenu()" routerLink="/contact-us" routerLinkActive="activerroute">Contact Us</li>
    <!-- <li><img style="height: 60px;" src="images/icon menu bar.png"></li> -->
    <div class="mobile-icons d-flex justify-content-between social-media">
      <div><i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
      <div><i class="fa fa-pinterest" aria-hidden="true"></i></div>
      <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
  </div>
  </ul>
  <!-- <div class="nav" [classList]="showactive?'nav active':'nav'" (click)="openmenu()">
    <div class="line-wrap">
      <span></span>
    </div>
  </div> -->
<!-- </div> -->


